body{
    margin:0;
    background-color: #fafafa;

}
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
header{
    padding: 20px 0;
    background-color: #19b181;
    display: flex;
}
.img-container{
    background-color: white;
    padding: 4px;
    padding-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:100px ;
    border-bottom-right-radius: 100px;
}
.titlecontainer{
    padding: 0 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.titlecontainer h1, .titlecontainer h2{
    color: #fafafa;
    font-size: 28px;
    text-transform: uppercase;
}
.titlecontainer h2{
    font-size: 18px;
    font-weight: 500;
    color: #e0e0e0;
    margin-top: 10px;
}
.img, .avatar{
    width: 100px;
    height: 100px ;
    object-fit: cover;
    border-radius: 100px;
}
.container{
    padding: 20px;
    background-color:#e0e0e0;
    display: flex;
}
.sider, .content {
    background-color: white;
    padding: 20px 0;
}
.sider {
    width: calc(30%-10px);
    background-color: white;
    margin-right: 20px;
}
.content{
    flex-grow: 1;
}
.tag-fill{
    background-color: #19b181;
    padding: 8px;
    color: black;
    font-size: 18px;
    display: inline-block;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px ;
}

